<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Nunito&display=swap" rel="stylesheet">

    </head>
    <body style="font-family: 'Montserrat', sans-serif;">

        <header>
            <div style="width: 100%;">
                <img style="width: 100%;" src="https://ethiccraftclub.org/assets/img/home-slider/quate.jpg">
            </div>
        </header>
        <article>
            <h2>Greetings of the day, <span th:text="${data.username}"></span> </h2>

            <span>Welcome to the <strong>Ethiccraft family</strong>!</span>
            <br/>
            <div><strong>Membership Id: </strong><span th:text="${data.membershipId}"></span></div>

            <p>At the outset, I would like to welcome your support for human values, for which this club stands. I am sure that going forward, your support will only grow stronger. </p>

            <p>Ethiccraft members are the youths who are connected with the club activities at some level. These may include youths from colleges, coaching or professional background. Members of Ethiccraft Club are expected to volunteer for the different programs conducted by club in order to ensure smooth conduct of the events and also help in connecting people with the club to bless with the opportunity of being instrumental in bringing a positive transformation. </p>

            <p>As a Member, your role is critical in fulfilling the mission of Ethiccarft Club. We expect you to set an example of diligence, dedication and commitment and contribute your best efforts in making world a beautiful place to live.</p>

            <p>With Warm Regards</p>
            <div>Ethiccraft Family</div>
            <br/>
        </article>


        <footer style="background-color: #555; color: white; padding: 8px; text-align: center;">
            For any query, Drop a mail to <a href="#" style="color: yellow; text-decoration: none;">ethicraft@gmail.com</a>.
        </footer>

    </body>
</html>
